*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 235, 215);
}

.allTodolist {
    vertical-align: top;
    margin: 0 auto;
    margin-top: 200px;
    width: 20%;
    background-color: rgb(245, 245, 220);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.topic {
    margin: 0;
    padding: 20px 10px;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nameTodo {
    width: 80%;
    height: 25px;
    border-radius: 5px;
}

.addTodo {
    text-align: right;
    border-radius: 5px;
}

.addTodo img {
    width: 17px;
    height: 15px;
}

.sizeTodoList {
    list-style-type: none;
    padding: 15px 10px;
}

.fotterList {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.checkTask {
    size: 10px;
    align-items: center;
}

.deleteTodo {
    padding: 5px;
    color: aliceblue;
    font-size: 12px;
    background-color: brown;
    border-radius: 10px;
}